.header{
    color: aliceblue;
    margin: 40px;
    font-weight: bold;
    font-size: 80px;
    text-shadow: black 2px 2px 2px ;
    transition: 0.8s;
}
.header:hover{
    cursor: pointer;
    scale: 1.1;
    transition: 0.8s;
}
